@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: rgb(0, 0, 0);
  --background-start-rgb: rgb(31, 40, 51);
  --background-end-rgb: rgb(11, 12, 16);
}

/* background-color: #0B0C10;
opacity: 1;
background-image: radial-gradient(#1F2833 2px, #0B0C10 2px);
background-size: 40px 40px; */

body {
  color: var(--foreground-rgb);
  background-color: var(--background-end-rgb);
  background-image: radial-gradient(
    var(--background-start-rgb) 2px,
    var(--background-end-rgb) 2px
  );

  background-size: 40px 40px;
}
